.icon-48-generic {background:url(../../img/loginza_logo-trans.png) no-repeat 0 -6px!important;}
.header {color:#222!important;font-size:24px !important;padding-left:180px!important;padding-top:3px!important;}
.icon-32-icon_users{background-image: url(../../img/icon_users.png);}
.icon-32-icon_back{background-image: url(../../img/icon_back.png);}